POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[]
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=RR
QUANTUM=1
ESTIMACION_INICIAL=5
IP_BROKER=10.108.208.3
PUERTO_BROKER=5002
LOG_FILE=int2.log
IP=10.108.208.3
PUERTO=5006
TEAM_ID_FILE=team_id2.txt